<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <%- include("partials/cabecalho.ejs"); %>
        
    </head>
    <body>
       
        <div class="container">
            Auxiliares
            <div><a href="/auxiliares"  class="btn btn-primary">Relatório de Auxiliares</a></div><br>
            <div><a href="/auxiliares/cadastrar"  class="btn btn-primary">Cadastrar Auxiliar</a></div>
        </div><br>

        <div class="container">
            Usuarios
            <div><a href="/usuarios"  class="btn btn-primary">Relatório de Usuários</a></div><br>
            <div><a href="/usuarios/cadastrar"  class="btn btn-primary">Cadastrar Usuários</a></div>
        </div>
        
        <div class="container">
            Carros
            <div><a href="/carros"  class="btn btn-primary">Relatório de carros</a></div><br>
            <div><a href="/carros/cadastrar"  class="btn btn-primary">Cadastrar carro</a></div>
        </div>
        <%- include("partials/rodape.ejs"); %>
    </body>
</html>